<!-- public/views/home.html -->

<div class="grid">
	<div class="row">
		<div class="col col-7-of-12 center">
			<div class="text-center">
			    <h1>Colors of Pi</h1>
			</div>
		</div>
	</div>

	<!-- Text to enter the starting position -->
	<div class="row">
		<div class="col col-7-of-12 center">
			<input ng-model="startDigit">
		</div>
	</div>

	<!-- Submit button -->
	<div class="row">
		<div class="col col-7-of-12 center">
			<div class="btn btn-primary" ng-click="getImage();">See Pi</div>
		</div>
	</div>

	<!-- Image -->
	<div class="row">
		<div class="col col-7-of-12 center">
			<img ng-src="{{image}}">
		</div>
	</div>

	<div class="row" style="z-index: -1; widows: 100%; height: 100%; position: relative;">
		<div class="col col-12-of-12 center">
			<table>
				<tbody>
					<tr ng-repeat="row in hexTable">
						<td ng-repeat="color in row" style="background-color: {{color}}; width: 30px; height: 25px;">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>